div.col.l11#mol_col1
    div.row.center#mol_row1_subrow2
        h4   #{val.disease_name}
div.col.s11.m11.l11
    div.col.grey.lighten-3.s12.m8.l8.offset-l1
        each val in data
            h3 #{val.disease_name.toUpperCase()}
            if(val.symptoms)
                li.section.scrollspy#symptoms
                    span.bold What are the Symptoms of #{val.disease_name.toUpperCase()}?
                    br
                    span.next_line.flow-text #{val.symptoms}
            if(val.risk_factor)
                li.section.scrollspy#risk
                    span.bold Who is at Risk for #{val.disease_name.toUpperCase()}?
                    br
                    span.next_line.flow-text #{val.risk_factor}
            if(val.cause)
                li.section.scrollspy#cause
                    span.bold What Causes #{val.disease_name.toUpperCase()}?
                    br
                    span.next_line.flow-text #{val.cause}
            if(val.diagnosis)
                li.section.scrollspy#diagnosis
                    span.bold  How is #{val.disease_name.toUpperCase()} Diagnosed?
                    br
                    each subhead in val.diagnosis
                        span.next_line.text_upper_case #{subhead.subhead1}:
                        span.next_line.flow-text #{subhead.subhead2}
            if(val.treatment)
                li.section.scrollspy#treatment
                    span.bold How is #{val.disease_name.toUpperCase()} Treated?
                    br
                    span.next_line.flow-text #{val.treatment}
            if(val.outlook)
                li.section.scrollspy#outlook
                    span.bold What is the Outlook for #{val.disease_name.toUpperCase()}?
                    br
                    span.next_line.flow-text #{val.outlook}
            if(val.prevention)
                li.section.scrollspy#prevention
                    span.bold How can #{val.disease_name.toUpperCase()} be Prevented?
                    br
                    span.next_line.flow-text #{val.prevention}
            h5.section.scrollspy#source Source:&nbsp
                span.next_line #{val.source}

    div.col.l3.m4.hide-on-small-only
        ul.section.table-of-contents(style='position:fixed;padding-bottom:10px;')
            li
                a(href='#symptoms') Symptoms
            li
                a(href='#risk') Risk Factors
            li
                a(href='#cause') Causes
            li
                a(href='#diagnosis') Diagnosis
            li
                a(href='#treatment') Treatment
            li
                a(href='#outlook') Outlook
            li
                a(href='#prevention') Prevention
            li
                a(href='#source') Source

div
    br
    br
    div.col.s12.l12.m12.grey.lighten-1(style='padding:5px;margin-top:20px')
        a.black-text.modal-trigger(href='#modal2') <strong>Give a Feedback on the above data</strong>
            i.material-icons.left.black-text feedback
div.modal#modal2
    div.modal-content
        h4.center.teal-text.darken-2 Your Feedback is valuable...
        form.col.l10.m10.s10#form_feedback(method='POST')
            div
                span How useful is the data that we provide?
                br
                br
                input.with-gap#radio1(name='radio1_feedback' type='radio')
                label(for='radio1') Very Useful&nbsp
                input.with-gap#radio2(name='radio1_feedback' type='radio')
                label(for='radio2') Useful&nbsp
                input.with-gap#radio3(name='radio1_feedback' type='radio')
                label(for='radio3') Average&nbsp
                input.with-gap#radio4(name='radio1_feedback' type='radio')
                label(for='radio4') Not Useful&nbsp
                input.with-gap#radio5(name='radio1_feedback' type='radio')
                label(for='radio5') Not Useful At All

