- val = data[0]
div.col.l11#mol_col1
    div.row.center#mol_row1_subrow2
        h4   #{val.disease_name}
    div.row.m_p_info
        div.col.lighten-3.s12.m8.l11
            each val in data
                if(val.symptoms!='')
                    li#symptoms
                        span.bold What are the Symptoms of #{val.disease_name}?
                        br
                        span.next_line.flow-text #{val.symptoms}
                if(val.risk_factor!='')
                    li.section.scrollspy#risk
                        span.bold Who is at Risk for #{val.disease_name}?
                        br
                        span.next_line.flow-text #{val.risk_factor}
                if(val.cause!='')
                    li.section.scrollspy#cause
                        span.bold What Causes #{val.disease_name}?
                        br
                        span.next_line.flow-text #{val.cause}
                if(val.diagnosis!='')
                    li.section.scrollspy#diagnosis
                        span.bold  How is #{val.disease_name} Diagnosed?
                        br
                        each subhead in val.diagnosis
                            span.next_line.text_upper_case #{subhead.subhead1}:
                            span.next_line.flow-text #{subhead.subhead2}
                if(val.treatment!='')
                    li.section.scrollspy#treatment
                        span.bold How is #{val.disease_name} Treated?
                        br
                        span.next_line.flow-text #{val.treatment}
                if(val.outlook!='')
                    li.section.scrollspy#outlook
                        span.bold What is the Outlook for #{val.disease_name}?
                        br
                        span.next_line.flow-text #{val.outlook}
                if(val.prevention!='')
                    li.section.scrollspy#prevention
                        span.bold How can #{val.disease_name} be Prevented?
                        br
                        span.next_line.flow-text #{val.prevention}
                h5.section.scrollspy#source Source:&nbsp
                    span.next_line #{val.source}
div.col#mol_row1_subrow4
    h5 Page Contents
    a(href="#Pharma") symptoms
    br
    a(href="#SideEffects") risk
    br
    a(href="#Precautions") cause
    br
    a(href="#Dosage") diagnosis
    br
    a(href="#interactions") treatment
    br
    a(href="#Contradictions") outlook
    br
    a(href="#Contradictions") prevention
    br
    a(href="#Contradictions") source
