- val = data[0]
- doses = data[0]
- dose = data[0]
- pots = data[0]
- vas = data[0]
div.col.l11#mol_col1
    div.row.center#mol_row1_subrow2
        h4   #{val.brand_name}
    div.row.m_p_info
        div.col
            each val in data
                h3.section.scrollspy#brand #{val.brand_name.toUpperCase()}
                    span <em>&nbsp - &nbsp</em>
                    each company in val.company_id
                        span <strong>manufactured by #{company.company_name.toUpperCase()}</strong>
                    if(val.categories != '')
                        h5 [#{val.categories}]

                li.section.scrollspy#prescription Prescription:
                each dosages in val.dosage_id
                    each doses in dosages.strength_id
                        if (doses.prescription != '')
                            span &nbsp<strong>#{doses.prescription}</strong>
            li.section.scrollspy#potent Involves Potent Substances: &nbsp
                each vas in data
                    each dosages in vas.dosage_id
                        each doses in dosages.strength_id
                            each pots in doses.potent_substance
                                span <strong>#{pots.name}</strong> &nbsp
                                span <strong>#{pots.molecule_strength}</strong>



            each vas in data
                each dosage in vas.dosage_id
                    each dose in dosage.strength_id

                        table.responsive-table.responsive-on-down-only
                            thead
                                tr
                                    th.section.scrollspy#dosage_form Dosage Form
                                    if(dose.strength != '')
                                        th Strength
                                    if(dose.packaging != '')
                                        th Packaging
                                    th Price
                            tbody
                                tr
                                    td <strong>#{dosage.dosage_form.toUpperCase()}</strong> &nbsp &nbsp
                                    if(dose.strength != '')
                                        td <strong>#{dose.strength} #{dose.strengths}</strong> &nbsp &nbsp
                                    if(dose.packaging != '')
                                        td <strong>#{dose.packaging}</strong> &nbsp &nbsp
                                    td <strong>#{dose.price}</strong>
                        each pots in dose.potent_substance
                            if(dose.dose_taken != '')
                                li.section.scrollspy#dose_taken Dose Taken As:&nbsp
                                    span <strong>#{dose.dose_taken}</strong>

                            if(dose.dose_timing != '')
                                li.section.scrollspy#timing Dose Timings:&nbsp
                                    span <strong>#{dose.dose_timing}</strong>

                            if(vas.primarily_used_for != '')
                                li.section.scrollspy#primarily The Drug <strong>#{vas.brand_name.toUpperCase()}</strong> is primarily used for <strong>#{vas.primarily_used_for}</strong>

                            if(dose.warnings != '')
                                i.material-icons.left warning
                                span.section.scrollspy#warnings.red-text Warnings
                                br
                                span <strong>#{dose.warnings}</strong>
                                br
                                br
                                br
div.col#mol_row1_subrow4
    h5 Page Contents
    if(val.categories != '')
        a(href="#brand") brand
        br
    if(doses.prescription != '')
        a(href="#prescription") prescription
        br
    a(href="#potent") potent
        br
    if(dose.strength != '')
        a(href="#dosage_form") dosage form
        br
    if(dose.dose_taken != '')
        a(href="#dosage_taken") dosage taken
        br
    if(dose.dose_timing != '')
        a(href="#timing") timing
        br
    if(vas.primarily_used_for != '')
        a(href="#primarily") primarily
        br
    if(dose.warnings != '')
        a(href="#warnings") warnings
